{
  "env": {
    "commonjs": {
      "presets": [
        ["@babel/preset-env", { "loose": true }]
      ]
    }
  },
  "plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": ["ie >= 11"] },
        "exclude": ["@babel/plugin-transform-async-to-generator", "@babel/plugin-transform-regenerator"],
        "modules": false,
        "loose": true
      }
    ]
  ]
}